/* All */
:root {
  --darkbg: rgb(19, 19, 19);
  --darkbgdark: rgb(8, 8, 8);
}

* {
  transition: 0.1s;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  text-decoration: none;
}
/* LIGHT */
body {
  background: white;
}
.nav_main {
  background: blueviolet;
  transition: 0.2s;
}
footer {
  background: blueviolet;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* DARK */
body.dark {
  background: var(--darkbg);
}
/* Header */
body.dark .nav_main {
  background: var(--darkbgdark);
}
.nav-link.active {
  background: transparent;
}
/* Section */
section {
  margin-top: 56px;
}
body.dark .jumbotron {
  color: white;
  background: var(--darkbg);
  height: 500px;
}
.judul {
  font-size: 70px;
}
.btn_main {
  background: rgb(132, 0, 255);
  color: white;
  transition: 0.2s;
}
.btn_main.outline {
  background: transparent;
  color: white;
  border: 2px solid rgb(132, 0, 255);
  transition: 0.2s;
}
.btn_main:hover {
  background: rgb(109, 1, 209);
  color: white;
}
.c_main {
  color: rgb(109, 1, 209);
}
/* Footer */
body.dark footer {
  background: var(--darkbgdark);
  padding-top: 13px;
  padding-bottom: 13px;
}

/* swiecter */

input[type="checkbox"] {
  margin-top: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline: 0;
}
.toggle {
  height: 25px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:after:checked {
  border-color: #654fec;
}
.toggle:checked:after {
  background: rgb(109, 1, 209);
  transform: translatex(27px);
}

/* Sidenav */

.side {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}
.sidenav_wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.sidenav {
  width: 20%;
  height: 100%;
  background: white;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 10001;
  transition: 0.2s;
}
.sidenav.active {
  left: 0;
}
.sidenav .sidenav_title {
  padding: 10px 20px;
  font-size: 24px;
  border-bottom: 1px solid lightgray;
}
.sidenav .sidenav_title a {
  color: blueviolet;
}

.sidenav .sidenav_menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.sidenav_menu a {
  color: black;
  padding: 10px 20px;
  transition: 0.2s ease;
  font-size: 14px;
}
.sidenav_menu a:hover {
  background-color: blueviolet;
  color: white;
  text-decoration: none;
}
/* Sidenav Dark */
body.dark .side .sidenav {
  background: var(--darkbg);
}
body.dark .sidenav .sidenav_title {
  border-bottom: 1px solid rgb(58, 58, 58);
  background: var(--darkbgdark);
}
body.dark .sidenav_menu a {
  color: rgb(223, 223, 223);
}
body.dark .sidenav_menu a:hover {
  color: white;
}

/* Float */

.float {
  position: fixed;
  z-index: 9998;
  bottom: 50px;
  right: 20px;
  /* background-color: red; */
}
.float button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: blueviolet;
  margin-right: 0;
  height: 55px;
  width: 55px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.float button:hover {
  color: blueviolet;
}
.float .card {
  display: none;
  margin-bottom: 60px;
  transform: translate(-30px);
}
/* Dark */
body.dark .float button {
  color: white;
  background: rgb(109, 1, 209);
}
